<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encurtador de URL</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <h1 class="title">Encurtador de URL</h1>
        <div class="box-input">
            <input type="text" id="input-url" class="input-url" placeholder="Insira a URL aqui" />
            <button class="btn" onclick="encurtarUrl()">Encurtar</button>
        </div>
        <div class="result">
            <p id="short-url" style="margin-top: 20px; color: var(--cor-secundaria);"></p>
            <button class="btn" onclick="copiar()">Copiar URL</button>
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>